* {
    font-family: 'Chakra Petch', sans-serif;
    
}

body {
    background-color: #110038;
    font-family: 'Chakra Petch', sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
    color: #FFFFFF;
    font-size: 12px;
    height: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    p {
        margin-left: 8px;
    }
}

.main-container {
    width: 90vw;
    margin: auto;
}

.main-container nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav-left img {
        height: 64px;
        width: 102.6px;
    }

    .nav-right {
        display: flex;
        justify-content: space-evenly;


        .create-button {
            height: 36px;
            width: 144px;
            background: #EE3EFE;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            margin-top: 1rem;
        }

        .theme-select {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            margin-top: 1rem;

        }
        .theme-select-text {
            margin-left: 16px;
            height: 36px;
            width: 144px;
            background: #EE3EFE;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            grid-column: 1;
            grid-row: 1;
        }

        .theme-select-button {
            background: #EE3EFE;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 2;
            grid-row: 1;
        }

        .theme-dropdown-menu {
            grid-column: 1 / 3;
            grid-row: 2;
            margin-left: 16px;
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            height: 102px;
            width: 184px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .theme-sailor-day {
            background: #CCCCCC;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            height: 36px;
            width: 150px;
            display: flex;
            align-items: center;
            
            span {
                margin-left: 1rem;
                
            }
        }
        
        .theme-sailor-night {
            background: #2E32FB;
            border: 1px solid rgba(51,53,143,0.20);
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
            height: 36px;
            width: 150px;
            display: flex;
            align-items: center;

            span {
                margin-left: 1rem;
                color: #ffffff
            }

        }

        .nav-link {
            margin-left: 16.5px;
            margin-top: 25px;

            a {
                font-size: 16px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 18px;
            }
        }
    }
}

.main-container .search-bar {
    width: 100%;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    margin-top: 19px;
    padding-top: 2px;


    .search-title {
        height: 24px;
        background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
        color: #FFFFFF;
        margin: 0 2px 0 2px;
        display: flex;
        align-items: center; 
        font-weight: bold;      
    }

    .search-bar-content {
        height: 75px;
        display: flex;
        align-items: center;
        padding: 0 18px 0 15px;

        .search-field-div {
            flex: 1;
            height: 48px;

            input {
                height: 48px;
                background: #FFFFFF;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                width: 100%;
            }
        }
    }


    .search-button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
        color: #8F8F8F;
        letter-spacing: 0;
        line-height: 18px;
        background: #B4B4B4;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        height: 36px;
        width: 102px;
        margin-left: 10px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}

.suggestions-header {
    margin-top: 4rem;
    width: 100%;
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    display: flex;
    align-items: center;
    margin-bottom: 19px;

    p {
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        margin-left: 7px;
    }

}

.suggestions {
    display: flex;
    justify-content: space-between;

    .gif-suggestion {
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        max-width: 280px;

        img {
            width: 280px;
            height: 280px;
            object-fit: cover;
        }

        .gif-suggestion-header {
            height: 24px;
            max-width: 280px;
            background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 7px;
            padding-right: 8px;

            img {
                width: 16px;
                height: 14px;
            }

            p {
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                white-space: nowrap;
                overflow: hidden;
                max-width: 95%;
            }
        }
    }
}

.trending-header {
    margin-top: 4rem;
    width: 100%;
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    display: flex;
    align-items: center;
    margin-bottom: 19px;

    p {
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        margin-left: 7px;
    }
}

.trending {
    display:grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;


    .trending-gif {
        min-width: 288px;
        height: 298px;
        display: flex;
        position: relative;

        .trending-gif-footer {
            align-self: flex-end;
            display: flex;
            align-items: center;
            position: absolute;
            height: 24px;
            width: 100%;
            background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

            p {
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                margin-left: 7px;
                margin-right: 8px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .trending-gif:nth-child(5n+0) {
        grid-column-end: span 2;
        width: auto;
    }
}
#search-results-header {
    display: none;

}

.search-results {
    a {
        display: none
    }

    .search-results-posts {
        display:grid;
        width: 100%;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 16px;
        grid-column-gap: 16px;
    
    
        .gif-result {
            min-width: 240px;
            height: 298px;
            display: flex;
            position: relative;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    
        .gif-result:nth-child(5n+0) {
            grid-column-end: span 2;
            width: auto;
        }
    }
}